* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.6rem;
    /* çarpan demek rem*/
    line-height: 1.5rem;
    /* satır arasındaki boşluk */
    text-align: center;
    background-color: #333;

}

a {
    text-decoration: none;
    /*linkni altındaki çizgiyi siler */
}

p {
    padding: 1.6rem 0;

}

img {
    width: 100%;
    height: auto;

}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header {
    height: 46rem;

}

header .bg-image {
    position: absolute;
    background-image: url(images/5.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.5;
    /*saydamlık değeri 0-1 olmalıdır */
    z-index: -1;
    /*görseli bir alt zemine gönderir*/

}

header h1 {
    padding: 12rem;
    padding-bottom: 0;

}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    border: 1px;
    padding: 1.6rem 3.2rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    transition: all 0.5s;
    /* butonun değişimi*/
}

.btn:hover {
    background-color: white;
    color: black;


}

#section-a {
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem;

}

#section-b {
    padding: 1rem;

}

#section-b ul {
    list-style: none;
}

#section-b li {
    background-color: #fff;
    color: #333;
    margin-bottom: 1.5rem;

}

.col-content {
    padding: 1.5rem;
}

#section-c {
    background-color: #eaeaea;
    color: #333;
    padding: 5rem;

}

#section-d .box {
    padding: 5rem;

}

#section-d .box:nth-child(1) {
    background-color: darkslategray;
}


footer {
    padding: 40px;
    background-color: black;


}

footer a {
    color: yellowgreen;
}

@media screen and (min-width:800px) {
    html {
        font-size: 9px;
    }

}

@media screen and (min-width:1200px) {
    html {
        font-size: 11px;
    }

    #section-b li {
        width: 28%;
        margin: 1%;
        display: inline-block;

    }
    .box{
        width: 50%;
        float: left;

    }

}